<div data-ng-controller="HeaderController">
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand"><a ui-sref="home">sweet water</a>
            </h3>
            <ul class="nav masthead-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active"><a ui-sref="about">About</a>
                </li>
                <li ui-sref-active="active"><a ui-sref="news">Subscribe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
