<section data-ng-controller="HomeController" id="home">
    <div class="inner cover">
        <h1 class="hidden-xs">sweet water</h1>
        <p class="">Sweet Water is the Seattle band whose music combines elements of punk, pop, grunge and new wave to deliver on the promises of rock and roll.</p>
        <div class="row">&nbsp;</div>
        <a href="https://itunes.apple.com/us/album/superstar-live-in-seattle/id941976846" target="_blank" class="btn btn-lg btn-warning">Buy Superstar Live</a>
        <div class="row">&nbsp;</div>
        <div data-ng-include data-src="'scripts/common/partials/social.html'"></div>
    </div>
</section>
