<section data-ng-controller="AboutController">
    <div class="inner cover">
        <h1 class="hidden-xs">{{aboutModel.pagetitle}}</h1>
        <div class="">
        <p>Singer Adam Czeisler, guitarist Rich Credo, bassist Cole Peterson and drummer Chris Friel write songs, cut records, make videos and play shows to bring the rock to the people.</p>
        <p class="hidden-xs"> Albums include Superfriends, Suicide, Ter, Clear The Tarmac, Dance Floor Kills and Parc Boys. </p><br>
        <a href="http://en.wikipedia.org/wiki/Sweet_Water_(band)" target="_blank" class="btn btn-default btn-sm btn-trans">read more <span class="glyphicon glyphicon-chevron-right"></span></a>

        <!-- <p>Originally known as S.G.M., Sweet Water rode the wave of interest in the Pacific Northwest's musical offerings, and landed a major-label deal with Atlantic in 1992. Sweet Water maintained a solid profile, touring and performing with Alice in Chains, The Flaming Lips and Candlebox, in addition to landing a deal with Elektra's East West label, which would put out the bands' third offering, Superfriends, in 1995.</p>
<br>

<p>As the decade drew to a close, however, the alt rock momentum had been killed off by the rise of boy bands and vapid dance-pop, and Sweet Water called it a (sort of) day after 1999's Suicide. Dormant for six-plus years, the group reformed in 2007, playing shows and working on material for a new album. In 2009, members Adam Czeisler (vocals), Rich Credo (guitar), Cole Peterson (bass), and Chris Friel (drums) were back in the game, with a new album — Clear the Tarmac — and a busy schedule of gigs on the agenda, including that year's South by Southwest Festival in Austin, TX.</p>
 -->

<!--http://kb.mailchimp.com/lists/signup-forms/share-your-signup-form-->

        </div>
        <div class="row">&nbsp;</div>
        <div data-ng-include data-src="'scripts/common/partials/social.html'"></div>
    </div>
</section>
