<div class="modal-header">
<button type="button"  ng-click="cancel()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Superstar Live in Seattle out now</h4>
</div>
<div class="modal-body">
    <a href="https://itunes.apple.com/us/album/superstar-live-in-seattle/id941976846">
        <img src="images_static/sweet-water-superstar-live-art-200.jpg" class="center-block img-responsive">
        </a>
        <div class="row">&nbsp;</div>
       <a href="https://itunes.apple.com/us/album/superstar-live-in-seattle/id941976846" class="btn btn-primary" ng-click="cancel()">buy now</a>
</div>
<div class="row">&nbsp;</div>
